<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>bored banana</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link href="./client/index.css" rel="stylesheet"/>
</head>


<body>
  <h1>bored banana</h1>

  <form>
    <input type="number" name="quantity" placeholder="how many?">
    <input type="date" name="dateBought" placeholder="when?">
    <input type="number" name="cost" placeholder="how much $$$ ?">
    <br>
    <button>add banana data</button>
    <button>show me my bananas</button>
  </form>

  <script src='app.js'></script>
  <script src='../apptimer.js'></script>
 </body>
</html>
