<h5 id="signUpHeader">Sign up</h5>
<!-- <form action="/signUp" method="post"> -->
<form>
  <div>
      <label>Name:</label>
      <input id="name" type="text" name="name"/>
  </div>
  <div>
      <label>Email:</label>
      <input id="email" type="text" name="email"/>
  </div>
  <div>
      <label>Password:</label>
      <input id="password" type="password" name="password"/>
  </div>
  <!-- <div>
      <input type="submit" value="Sign Up"/>
  </div> -->

    <button id="submitSignUp">Sign up</button>

</form>
