<a href="/" style="text-decorations:none; color:inherit;">
  <h1 id="header">bored banana</h1>
</a>

<form>
  <div>
      <label>Name:</label>
      <input id="name" type="text" name="name"/>
  </div>
  <div>
      <label>Email:</label>
      <input id="email" type="text" name="email"/>
  </div>
  <div>
      <label>Password:</label>
      <input id="password" type="password" name="password"/>
  </div>

    <button id="submitSignUp">Sign up</button>

</form>
