<h1>You have....<h1>
<div id="time" >{{this.dateBought}}</div>
<div id="timeDisplay"></div>
<h2>to use your bananas!<h2>
<h1>Or else you have wasted ${{this.cost}}!<h1>

<input type="button" id="backBtn" value="Go back"/>

<script src='apptimer.js'></script>
