<h1>You have....<h1>
<div id="time" hidden>{{this.time}}</div>
<div id="timeDisplay"></div>
<h2>to use your bananas!<h2>
<h1>Or else you have wasted ${{this.cost}}!<h1>

<input type="button" id="backBtn" value="Go back"/>


<!-- <script src='./client/apptimer.js'></script> -->
